#resume {
    text-align: center;
    margin: 3vw 0 3vw 0;
    width: 100%;
    align-content: center;
}

@media screen and (min-width: 600px) {
    #resume object {
        margin-top: 2vh;
    }
    #small-screen {
        display: none;
    }
}
@media screen and (max-width: 600px) {
    #resume object {
        display: none;
        margin-top: 2vh;
    }
}