#bar-sticky {
    background-image: linear-gradient(to right, #004466, #0077b3);
    color: #edfffa;
    width: 100%;
    min-width: fit-content;
    max-width: 100%;
    position: sticky;
    top: 0;
    padding: 0;
    margin: 0;
    height: 5vh;
    z-index: 10;
}


