@media screen and (max-width: 600px) {
    body, html {
        font-size: 2vw;
    }
}
@media screen and (min-width: 600px) {
    body, html {
        font-size: 16px;
    }
}
#application {
    '''background-image: linear-gradient(to right, #ddedea, white);
    background-color: white;
    height: 100%;
    white-space: nowrap;
    margin: 0 auto;
    cursor: default;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    color: black;
}

* {
    box-sizing: border-box;
}

