body,html{
    font-size: 16px;
}

#application {
    background-image: linear-gradient(to right, #ddedea, white);
    height: 100%;
    white-space: nowrap;
    margin: 0 auto;
    cursor: default;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    color: #406566;
}

