#projects {
    text-align: center;
    margin: 1vh 0 1vh 0;
    width: 100%;
    align-content: center;
}

#projects-content {
    align-content: center;
    display: table;
    margin: 0 auto;
    width: 90%;
    text-align: center;
    vertical-align: middle;
}

@media screen and (min-width: 600px){
    #projects col-4 {
        z-index: -1;
        width: 30%;
        height: fit-content;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        border-radius: 1vw;
        margin: 3vw;
    }
}
@media screen and (max-width: 600px){
    #projects col-4 {
        width: 100%;
        height: fit-content;
        display: inline-flex;
        justify-content: center;
        align-items: center;


    }
}
.row::after {
    content: "";
    clear: both;
    display: block;
}

[class*="col-"] {
    float: left;
    padding: 1vw;
}

#project {
    border: 0.1vw solid #004466;
    white-space: pre-wrap;
    height: 100%;
    border-radius: 1vw;
    padding-bottom: 1vw;
    overflow: hidden;
}

#project-title {
    padding: 0.5vw 0 0.5vw 0.5vw;
    background-image: linear-gradient(to right, #004466, #0077b3, #004466);
    color: white;
}

#project-stuff {
    padding: 1vw;
}

#project img {
    object-fit: cover;
    width: 70%;
    border: 0.1vw solid #ddd;
    border-radius: 0.2vw;
    padding: 0.2vw;
    margin-bottom: 0.5vw;
}

#project p {
    font-size: smaller;
    text-align: left;

}

#project .left {
    text-decoration: underline;
    color: #9c1d14;
    float: left;
}
#project .right {
    text-decoration: underline;
    color: #9c1d14;
    float: right;
}
